/* You can add global styles to this file, and also import other style files */
/* @import "~@angular/material/prebuilt-themes/purple-green.css"; */
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

body{
    background-color: #Dabdab
}

.mat-card {
  display: flex;
  flex-direction: column;
  background-color: floralwhite;
  width: 300px;
  height: 230px;
  border: 3px solid darkslateblue;
  position: absolute;
  left: 50%;
  margin-left: -160px;
  margin-top: 10%;
}

.mat-card > * {
  margin: 5px;
  width: 100%;
  justify-content: center;
}

.mat-icon {
  margin-right: 5px;
}